.weather-cards {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .items {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-row-gap: 4%;
    grid-column-gap: 2%;
  }
}
@media (min-width: 901px) {
  .items {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-column-gap: 4%;
  }
}
