.wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 100%;
}
@media (max-width: 900px) {
  input {
    width: 50%;
    border-radius: 5px;
    border: transparent;
  }
  button {
    width: clamp(30px, 20%, 100px);
    cursor: pointer;
    background-color: #5ab35a;
    border-radius: 5px;
    border: transparent;
    color: white;
    transition-duration: 200ms;
  }
}
@media (min-width: 901px) {
  input {
    width: clamp(30px, 40%, 300px);
    border-radius: 5px;
    border: transparent;
  }
  button {
    width: 80px;
    cursor: pointer;
    background-color: #5ab35a;
    border-radius: 5px;
    border: transparent;
    color: white;
    transition-duration: 200ms;
  }
}
button:hover {
  background-color: #007d00;
}
.fontClass {
  font-size: 17px;
}
