.weather-cards {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    justify-content: space-between;
  }
  
@media(max-width:900px){      
    .weather-card{
        width:100%;
        height: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        text-align: center;
        border-radius: 8px;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
    }          
    h2{
        margin: 0px;
        font-size: 4vw;
    }
    p{
        margin: 10px;
        font-size: 4vw;
    }
}
@media(min-width:901px){
    .weather-card{
        width:100%;
        height: 12vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        text-align: center;
        border-radius: 8px;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
    }
    h2{
        margin: 0px;
        font-size: 2vw;
    }
    p{
        margin: 10px;
        font-size: 2vw;
    }
}

 
  